<footer>
    <h3 class="footer-title">Copyright  &copy; 2021 BY
        <a href="https://github.com/Hermon-22" target="_blank" rel="noopener noreferrer"> HERMON </a>
        & 
        <a href="https://github.com/Nazeer-Abdulhai" target="_blank" rel="noopener noreferrer"> NAZEER </a>
    </h3>

</footer>

</body>
</html>
