<footer>
    <h4 class="footer-title">Final project of <a href="https://matrixmaster.info/" target="_blank" rel="noopener noreferrer"> Matrix school Rotterdam</a></h4>
    <h3 class="footer-title">
        Copyright  &copy; 2021 BY
        <a href="https://github.com/Hermon-22" target="_blank" rel="noopener noreferrer"> HERMON </a>
        & 
        <a href="https://github.com/Nazeer-Abdulhai" target="_blank" rel="noopener noreferrer"> NAZEER </a>
    </h3>

</footer>

</body>
</html>
